#main-toolbar #activity-button {
  background-image: url(../activity/icono-cmc.png);
}
.fondo {
    height: 845px;
    width: 1200px;
    background: url('../img/pag1.png') 0 0 no-repeat;
}
.btn_atras{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 80px;
    top: 720px;
}

.btn_back{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 80px;
    top: 720px; 
}

.objeto {
    position: absolute;
}

.titulo {
    font-size: 50px;
    top: 50px;
    left: 200px;
    color: #666666;
    text-align: center;
}

.text_matrix{
    position: absolute;
    text-align : inherit;
    font-size: 50px;
    width: 500px;
    left: 580px;
}

.boton {
    position: absolute;
    border-radius: 0;
    outline: 0;3
    21
}

.boton:hover {
    border: none;
}


/* Vista 1 */
/*#pag1 {
    height: 845px;
    width: 1200px;
    background: url('../img/pag1.png') 0 0 no-repeat;
}*/

#nina {
    height: 350px;
    width: 168px;
    top: 280px;
    left: 290px;
    background: url('../img/btn-fem.png') 0 0 no-repeat;
}

#nina h3 {
    color: #666666;
    font-size: 30px;
    top: 340px;
}

#nino {
    height: 350px;
    width: 129px;
    top: 280px;
    left: 797px;
    background: url('../img/btn-mas.png') 0 0 no-repeat;
}

#nino h3 {
    color: #666666;
    font-size: 30px;
    top: 340px;
}

#exploro {
    height: 350px;
    width: 400px;
    top: 280px;
    left: 150px;
    background: url('../img/btn-exploro.png') 0 0 no-repeat;
}

#exploro h3 {
    color: #666666;
    font-size: 30px;
    top: 340px;
    left: 144px;
}

#juego {
    height: 350px;
    width: 400px;
    top: 280px;
    left: 650px;
    background: url('../img/btn-juego.png') 0 0 no-repeat;
}

#juego h3 {
    color: #666666;
    font-size: 30px;
    top: 340px;
    left: 144px;
}

#img_srf{
    position: absolute;
    width: 771px;
    height: 547px;
    top: 220px;
    left: 200px;
    background-image: url('../img/femenino/srf.png');
}
#ovario{
    position: absolute;
    left: 50px;
    top: 50px;
    width: 518px;
    height: 740px;
    background-image: url('../img/femenino/ovarios.png');
}

#falopio{
    position: absolute;
    left: 70px;
    top: 90px;
    width: 487px;
    height: 706px;
    background-image: url('../img/femenino/trompas-falopio.png')
}
#vagina{
    position: absolute;
    left: 70px;
    top: 90px;
    width: 467px;
    height: 665px;
    background-image: url('../img/femenino/vagina.png');
}
#ovulo{
    position: absolute;
    width: 530px;
    height: 595px;
    top: 60px;
    left: 40px;
    background-image: url('../img/femenino/ovulo.png');
}
#uretra{
    position: absolute;
    top: 25px;
    left: 40px;
    width: 486px;
    height: 731px;
    background-image: url('../img/femenino/uretra.png');
}
#utero{
    position: absolute;
    width: 399px;
    height: 712px;
    top: 50px;
    left: 70px;
    background-image: url('../img/femenino/utero.png');
}
.btn_radius{
    position: absolute;
    background-color: chartreuse;
    width: 30px;
    height: 30px;
    border-radius: 2em;
}
.btn_radius:hover{
    content: "radio";
}
#btn_ovario{
    left: 625px;
    top: 115px;
}
#btn_falopio{
    left: 715px;
    top: 20px;
}
#btn_vagina{
    left: 370px;
    top: 400px;
}
#btn_ovulo{
    left: 625px;
    top: 160px;
}
#btn_uretra{
    left: 260px;
    top: 320px;
}
#btn_utero{
    left: 370px;
    top: 130px;
}
#exp{
    left: 200px;
    top: 500px;
}
#jue{
    position: absolute;
    left: 700px;
    top: 500px;
}
Ç cv
.0
10.
+-
+0
    >9
