#main-toolbar #activity-button {
  background-image: url(../activity/icono-cmc.svg);
}

#fondo {
    height: 845px;
    width: 1200px;
    background: url('../img/fondo.png') 0 0 no-repeat;
}

.btn_atras{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 80px;
    top: 720px;
}

.btn_atrasm{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 80px;
    top: 720px;
}

.btn_back{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 80px;
    top: 720px; 
}

.objeto {
    position: absolute;
}

.titulo {
    font-size: 50px;
    top: 50px;
    left: 200px;
    color: #666666;
    text-align: center;
}

.text_titulo{
    position: absolute;
    text-align : inherit;
    font-size: 50px;
    width: 500px;
    left: 580px;
    top: 40px;  
}

.text_matrix{
    position: absolute;
    text-align : justify;
    font-size: 30px;
    width: 500px;
    left: 580px;
    top: 170px;
}

.boton {
    position: absolute;
    border-radius: 0;
    outline: 0;3
    21
}

.boton:hover {
    border: none;
}

#nina {
    height: 360px;
    width: 170px;
    top: 280px;
    left: 290px;
    background: url('../img/btn-fem.png') 0 0 no-repeat;
}

#nina h3 {
    color: #666666;
    font-size: 30px;
    top: 340px;
    left: 10px;
}

#nina:hover h3 {
    color: chartreuse;
}

#nino {
    height: 360px;
    width: 130px;
    top: 280px;
    left: 797px;
    background: url('../img/btn-mas.png') 0 0 no-repeat;
}

#nino h3 {
    color: #666666;
    font-size: 30px;
    top: 340px;
    left: -5px;
}

#nino:hover h3 {
    color: chartreuse;
}

#exploro_f {
    height: 350px;
    width: 400px;
    top: 280px;
    left: 150px;
    background: url('../img/btn-exploro.png') 0 0 no-repeat;
}

#exploro_f h3 {
    color: #666666;
    font-size: 30px;
    top: 340px;
    left: 130px;
}

#exploro_f:hover h3 {
    color: chartreuse;
}

#exploro_m {
    height: 350px;
    width: 400px;
    top: 280px;
    left: 150px;
    background: url('../img/btn-exploro.png') 0 0 no-repeat;
}

#exploro_m h3 {
    color: #666666;
    font-size: 30px;
    top: 340px;
    left: 144px;
}

#exploro_m:hover h3 {
    color: chartreuse;
}

#juego_f {
    height: 350px;
    width: 405px;
    top: 280px;
    left: 650px;
    background: url('../img/btn-juego.png') 0 0 no-repeat;
}

#juego_f h3 {
    color: #666666;
    font-size: 30px;
    top: 340px;
    left: 144px;
}

#juego_f:hover h3 {
    color: chartreuse;
}

#juego_m {
    height: 350px;
    width: 405px;
    top: 280px;
    left: 650px;
    background: url('../img/btn-juego.png') 0 0 no-repeat;
}

#juego_m h3 {
    color: #666666;
    font-size: 30px;
    top: 340px;
    left: 144px;
}

#juego_m:hover h3 {
    color: chartreuse;
}

#img_srf{
    position: absolute;
    width: 771px;
    height: 547px;
    top: 220px;
    left: 200px;
    background: url('../img/femenino/srf.png') 0 0 no-repeat;
}

#img_srm{
    position: absolute;
    width: 771px;
    height: 547px;
    top: 220px;
    left: 424px;
    background: url('../img/masculino/srm.png') no-repeat;
}

#grafica{
    position: absolute;
    left: 160px;
    top: 50px;
    width: 518px;
    height: 740px;
}

#grafica img {
    top: 150px;
    position: absolute;
    left: 140px;
}

/*botones femenino*/
.btn_radius{
    position: absolute;
    background-color: chartreuse;
    width: 30px;
    height: 30px;
    border-radius: 2em;
}
.btn_radius:hover{
    content: "radio";
}

#btn_ovario{
    left: 625px;
    top: 115px;
}
#btn_ovario:hover .popuptext {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#btn_falopio{
    left: 715px;
    top: 20px;
}
#btn_falopio:hover .popuptext {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#btn_vagina{
    left: 370px;
    top: 400px;
}
#btn_vagina:hover .popuptext {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#btn_ovulo{
    left: 625px;
    top: 160px;
}
#btn_ovulo:hover .popuptext {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#btn_uretra{
    left: 260px;
    top: 320px;
}
#btn_uretra:hover .popuptext {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#btn_utero{
    left: 370px;
    top: 130px;
}
#btn_utero:hover .popuptext {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/*botones masculino*/
#graficam{
    position: absolute;
    left: 50px;
    top: 50px;
    width: 518px;
    height: 740px;
}
.btn_radius:hover{
    content: "radio";
}

#btn_escroto{
    left: 33px;
    top: 432px;
}
#btn_escroto:hover .popuptext {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#btn_pene{
    left: 154px;
    top: 420px;
}
#btn_pene:hover .popuptext {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#btn_testiculos{
    left: 199px;
    top: 392px;
}
#btn_testiculos:hover .popuptext {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#btn_uretrav{
    left: 133px;
    top: 307px;
}
#btn_uretrav:hover .popuptext {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#btn_cdeferente{
    left: 260px;
    top: 46px;
}
#btn_cdeferente:hover .popuptext {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#btn_prostata{
    left: 131px;
    top: 192px;
}
#btn_prostata:hover .popuptext {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#btn_vesicula{
    left: 182px;
    top: 125px;
}
#btn_vesicula:hover .popuptext {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#insturccion {
    position: absolute;
    top: 20px;
    left: 100px;
    font-size: 40px;
}

#graficaf {
    osition: absolute;
    left: 50px;
    top: 50px;
    width: 518px;
    height: 740px;
}

#etiquetas {
    position: absolute;
    width: 200px;
    height: 400px;
    top: 258px;
    left: 20px;
    background: #ffccaa;
    text-align: center;
    z-index: 3;
}

.nombre {
    font-size: 20px;
    color: purple;
    background: white;
    padding: 5px;
    width: 170px;
    margin-left: 10px;
}

#botones {
    position: absolute;
    width: 1160px;
    height: 80px;
    top: 745px;
    left: 20px;
}

#btn_reg_f {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 80px;
    top: 20px; 
}

#btn_rev {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 980px;
    top: 20px; 
}

#btn_rin_f {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 800px;
    top: 20px; 
}

.respuesta {
    background: #555555;
    width: 200px;
    height: 50px;
    z-index: 1;
    position: absolute;
}

#utero {
    left: 430px;
    top: 250px;
}

#trompadefalopio {
    left: 760px;
    top: 200px;
}

#ovario {
    left: 700px;
    top: 280px;
}

#ovulo {
    left: 700px;
    top: 400px;
}

#uretra {
    left: 250px;
    top: 450px;
}

#vagina {
    left: 430px;
    top: 550px;
}

.drop-target {
    background: #2ecc71;
}

#btn_reg_m {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 80px;
    top: 20px; 
}

#btn_rin_m {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 800px;
    top: 20px; 
}

#escroto {
    top: 590px;
    left: 220px;
}

#pene {
    top: 640px;
    left: 515px;
}

#testiculo {
    top: 560px;
    left: 600px;
}

#prostata {
    top: 355px;
    left: 520px;
}

#vesiculaseminal {
    top: 290px;
    left: 330px;
}

#conductodeferente {
    top: 230px;
    left: 630px;
}

/* Modal (fondo) */
.modal {
    display: none; /* Escondido por defecto */
    position: fixed; /* Matener en su lugar */
    z-index: 3; /* Por encima de todo */
    left: 0;
    top: 0;
    width: 100%; /* Ancho maximo */
    height: 100%; /* Alto maximo */
    overflow: auto; /* Scroll avilitado si es necesario */
    background-color: rgb(0,0,0); /* Color de fondo */
    background-color: rgba(0,0,0,0.4); /* Negro con opcidad */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% desde arriba hasta el centro */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Podria ser mas o menos, depende del tamaño de la pantalla */
    text-align: center;
    z-index: 10;
}

.modal-content img {
    width: 900px;
    height: 300px;
}

/* Boton de cierre */
.close {
    color: white;
    /*float: right;*/
    font-size: 30px;
    background-color: darkcyan;
    width: 130px;
    height: 40px;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#triangulo {
    position: absolute;
    left: 610px;
    top: 500px;
    width: 5px;
    border-left: 77px solid #555555;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}